@{
    ViewBag.Title = "Contact";
}

<h2>Contact Us</h2>
<table style="width: 100%">
        <tr>
            <td style="width: 361px">
                <img alt="" src="../images/images%20(2).jpg" style="width: 321px; height: 157px" /></td>
            <td style="width: 361px">
                <img alt="" src="../images/images%20(5).jpg" style="width: 321px; height: 157px" /></td>
            <td style="font-weight: 700; color: #FF0000">Airline Ticket Reservation<br /> 
                Contact Info:<br /><br />(913)243-8025<br />(913)251-6525<br />(913)123-6258<br />

            </td>
        </tr>
       
         <tr>
            <td style="width: 361px">&nbsp;</td>
            <td style="width: 399px">&nbsp;</td>
            
        </tr>
        <tr>
            <td style="width: 361px">
                <img alt="" src="../images/images%20(4).jpg" style="width: 321px; height: 157px" /></td>
            <td style="width: 361px">
                <img alt="" src="../images/images%20(1).jpg" style="width: 321px; height: 157px" /></td>
            <td style="font-weight: 700; color:#FF0000">Email Id:<br /><br />AirlineHR@ATR.com</td>
        </tr>
    </table>
