@{
    ViewBag.Title = "Home Page";
}

<h2>Wel Come to Airlines Ticket Reservatin System.</h2>
<table style="width: 100%">
        <tr>
            <td style="width: 223px">
                <img alt="" src="../images/images.jpg" style="width: 302px; height: 167px" /></td>
            <td style="width: 223px">
                <img alt="" src="../images/images%20(2).jpg" style="width: 302px; height: 167px" /></td>
            <td style="width: 223px">
                <img alt="" src="../images/images%20(1).jpg" style="width: 302px; height: 167px" /></td
            
        </tr>
        <tr>
            <td style="width: 223px">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4">
                
                <p style="margin: 0px; padding: 0px 0px 20px; line-height: 17.5px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(185, 186, 188);">
                    All About Flights are a bespoke, low profile, high performance company specialising in the field of providing air travel logistics to our partners within the MICE industry.</p>
                <p style="margin: 0px; padding: 0px 0px 20px; line-height: 17.5px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(185, 186, 188);">
                    With over 20 years experience in this field we offer a thorough and efficient service at every step due to our vast knowledge of the airline industry and our travel team are trained to handle your every need whether it be a detailed logistics and cost requirement, a study of destination viability or a simple &#39;ball park&#39; quote for budgeting purposes.</p>
                <p style="margin: 0px; padding: 0px 0px 20px; line-height: 17.5px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(185, 186, 188);">
                    Our employees are our greatest asset and through their professionalism and passion for their job they can offer tailored solutions to respond to every possible scenario as they understand that no two groups are ever the same!</p>
            </td>
        </tr>
        
    </table>
