@{
    ViewBag.Title = "Home";
}
<h2>Wel Come to Airlines Ticket Reservatin System.</h2>
<h2>Manager</h2>
 
<img alt="" src="../images/images.jpg" style="width: 302px; height: 167px" />
 
<img alt="" src="../images/images%20(2).jpg" style="width: 302px; height: 167px" />
 
<img alt="" src="../images/images%20(1).jpg" style="width: 302px; height: 167px" />
 
